.products {
  flex-direction: row;
  margin: auto;
  width: max-content;
}

.productTitle {
  text-align: center;
}

.selectBox {
  border: 1px solid black;
  flex-direction: column;
  margin: auto;
  padding: 10px 10px;
  text-align: left;
  width: fit-content;
}

.selectBoxTitle {
  text-align: center;
}
